flow.json
[{"id":"d1c690f0.4d1a7","type":"tab","label":"ping","disabled":false,"info":"\nNote that macOS’s firewall can block the ICMP packets that ping uses, which will interfere with this test. Make sure you disable “Stealth Mode” in “System Preferences”->“Security & Privacy” -> “Firewall"},{"id":"ab453ede.bd006","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"965fcdde.2d323","type":"ui_tab","z":"","name":"Ping","icon":"dashboard","disabled":false,"hidden":false},{"id":"cdeef39c.b441e","type":"ui_group","z":"","name":"Default","tab":"965fcdde.2d323","disp":false,"width":"30","collapse":false},{"id":"eee8e9fd.847348","type":"ping","z":"d1c690f0.4d1a7","name":"pi3one","host":"192.168.1.131","timer":"5","x":70,"y":60,"wires":[["ec820958.61d928","3198d581.2da63a"]]},{"id":"ec820958.61d928","type":"debug","z":"d1c690f0.4d1a7","name":"pi3one ping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":20,"wires":[]},{"id":"6ea831b2.f8be9","type":"ping","z":"d1c690f0.4d1a7","name":"my macbook wlan","host":"192.168.1.5","timer":"5","x":110,"y":680,"wires":[["6caaf3ca.3ea11c","7db93c33.bba5d4"]]},{"id":"6caaf3ca.3ea11c","type":"debug","z":"d1c690f0.4d1a7","name":"macbook wlan ping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":640,"wires":[]},{"id":"6a07cefa.24aeb","type":"ping","z":"d1c690f0.4d1a7","name":"pi3three","host":"192.168.1.33","timer":"5","x":80,"y":760,"wires":[["eeedee08.0fa2","fbc27f85.fe9bc"]]},{"id":"eeedee08.0fa2","type":"debug","z":"d1c690f0.4d1a7","name":"pi3three ping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":720,"wires":[]},{"id":"d18db702.fb5aa8","type":"ping","z":"d1c690f0.4d1a7","name":"pi3two wlan","host":"192.168.1.26","timer":"5","x":90,"y":600,"wires":[["f1c3261.15b82d8","af81e87a.c5ecf8"]]},{"id":"f1c3261.15b82d8","type":"debug","z":"d1c690f0.4d1a7","name":"pi3two wlan ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":560,"wires":[]},{"id":"d5177817.380cf8","type":"ping","z":"d1c690f0.4d1a7","name":"pi3two eth","host":"192.168.1.39","timer":"5","x":80,"y":220,"wires":[["303e1b3.0e89fe4","2ee511.56f89af"]]},{"id":"303e1b3.0e89fe4","type":"debug","z":"d1c690f0.4d1a7","name":"pi3two eth ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":140,"y":180,"wires":[]},{"id":"f8c7bd87.e00cc","type":"ping","z":"d1c690f0.4d1a7","name":"my macbook eth","host":"192.168.1.3","timer":"5","x":100,"y":140,"wires":[["4658f4c8.b85c0c","4f0650ae.37261"]]},{"id":"4658f4c8.b85c0c","type":"debug","z":"d1c690f0.4d1a7","name":"macbook eth ping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":100,"wires":[]},{"id":"1da44b06.ba14d5","type":"ui_chart","z":"d1c690f0.4d1a7","name":"wlan ping chart","group":"cdeef39c.b441e","order":2,"width":"30","height":"6","label":"ping [ms] of wlan devices (198 ms = no ping response)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":680,"wires":[[]]},{"id":"4f0650ae.37261","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"macbook_eth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["432f65fa.eb64ec"]]},{"id":"7db93c33.bba5d4","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"macbook_wlan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["bdc7d55a.ba4568"]]},{"id":"8d03cd04.6ac19","type":"change","z":"d1c690f0.4d1a7","name":"msg.payload=198","rules":[{"t":"set","p":"payload","pt":"msg","to":"198","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":620,"wires":[["a7dc9174.d5444"]]},{"id":"bdc7d55a.ba4568","type":"switch","z":"d1c690f0.4d1a7","name":"no ping response ?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":680,"wires":[["8d03cd04.6ac19"],["a7dc9174.d5444"]]},{"id":"af81e87a.c5ecf8","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pi3two_wlan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[["bdc7d55a.ba4568"]]},{"id":"2ee511.56f89af","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pi3two_eth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["432f65fa.eb64ec"]]},{"id":"fbc27f85.fe9bc","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pi3three","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":760,"wires":[["bdc7d55a.ba4568"]]},{"id":"3198d581.2da63a","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pi3one","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[["432f65fa.eb64ec"]]},{"id":"3b16909.b8a817","type":"ui_chart","z":"d1c690f0.4d1a7","name":"eth ping chart","group":"cdeef39c.b441e","order":3,"width":"30","height":"6","label":"ping [ms]  of ethernet devices (19 ms = no ping response)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":200,"wires":[[]]},{"id":"432f65fa.eb64ec","type":"switch","z":"d1c690f0.4d1a7","name":"no ping response ?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":200,"wires":[["a92518e1.abb018"],["3b16909.b8a817"]]},{"id":"a92518e1.abb018","type":"change","z":"d1c690f0.4d1a7","name":"msg.payload=19","rules":[{"t":"set","p":"payload","pt":"msg","to":"19","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":140,"wires":[["3b16909.b8a817"]]},{"id":"b8b90546.aad568","type":"smooth","z":"d1c690f0.4d1a7","name":"","property":"payload","action":"mean","count":"12","round":"0","mult":"multi","reduce":false,"x":600,"y":800,"wires":[["bb082033.f6e33","e8e3fafa.8d4808"]]},{"id":"bb082033.f6e33","type":"debug","z":"d1c690f0.4d1a7","name":"smooth","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":780,"wires":[]},{"id":"a7dc9174.d5444","type":"function","z":"d1c690f0.4d1a7","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":680,"wires":[["1da44b06.ba14d5","b8b90546.aad568"]]},{"id":"e8e3fafa.8d4808","type":"ui_chart","z":"d1c690f0.4d1a7","name":"smooth wlan ping chart","group":"cdeef39c.b441e","order":1,"width":"30","height":"6","label":" ping average ping [ms] of wlan devices (198 ms = no ping response)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":840,"wires":[[]]},{"id":"e083f2e5.8a854","type":"ping","z":"d1c690f0.4d1a7","name":"tp-link1","host":"192.168.1.252","timer":"5","x":90,"y":300,"wires":[["d9a3f5dd.f13ef8","82f87778.2de158"]]},{"id":"d9a3f5dd.f13ef8","type":"debug","z":"d1c690f0.4d1a7","name":"tp-link1 ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":260,"wires":[]},{"id":"82f87778.2de158","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tp_link1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["432f65fa.eb64ec"]]},{"id":"f458c1a2.647f8","type":"ping","z":"d1c690f0.4d1a7","name":"bbox3","host":"192.168.1.1","timer":"5","x":90,"y":380,"wires":[["bd635a3c.715e58","9dc853aa.4a10b"]]},{"id":"bd635a3c.715e58","type":"debug","z":"d1c690f0.4d1a7","name":"bbox3 ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":340,"wires":[]},{"id":"9dc853aa.4a10b","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bbox3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["432f65fa.eb64ec"]]},{"id":"67ad69c3.942008","type":"ping","z":"d1c690f0.4d1a7","name":"google.be","host":"www.google.be","timer":"5","x":100,"y":460,"wires":[["7e17c5c8.f3046c","7a2cc2c7.b2974c"]]},{"id":"7e17c5c8.f3046c","type":"debug","z":"d1c690f0.4d1a7","name":"google.be ping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":160,"y":420,"wires":[]},{"id":"7a2cc2c7.b2974c","type":"change","z":"d1c690f0.4d1a7","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"google.be","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["432f65fa.eb64ec"]]}]